/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------ */

body,
html,
main
{
  height: 100%;
  margin: auto 0;
  font-family: 'Raleway','Microsoft JhengHei';
}

.fixed-bg {
  min-height: 100%;
  background-size: cover;
  -webkit-background-size: cover !important; 
  -moz-background-size: cover !important; 
  -o-background-size: cover; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;    
}

h1 {
  text-align: center;
  font-size: 3.5em;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
  opacity: 0.95;
}
img {
  width: 100%;
  height: auto;
}
.main-text {
  font-size: 5.5em;
  line-height:px;

}
.sub-text{
  color:#fff;
  line-height:px;
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
}
.text-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  margin: 0;
  width: 75%;
  padding-bottom: 50px;
}
.text-box_1 {
  background: rgba(40, 40, 40, 0.95);
  padding: 20px;
  margin: 0;
  width: 75%;
  color:white;
  padding-bottom: 30px;
}

.table_1, .table_2 {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.table_1 td { 
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 8px;
  padding-right: 10px;
}

.table_2 td { 
  border-top: 1px solid #646464;
  border-bottom: 1px solid #646464;
  padding: 8px;
  padding-right: 10px;
}

.td_r{
  width: 40%;
}

.fixed-bg h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3em;
}
.fixed-bg p {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  font-size: 1.1em;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 15px;
}

.text-box p{
  color: #646464;
}

.link {
  display: block;
  width: 180px;
  height: 90px;
  background-image: url("https://raw.githubusercontent.com/cwlworld/vbox.github.io/ac075fd57abab369aaa4d0105571b815b0ab66fc/img/behance_b.svg");
  box-sizing: 110%;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.link:hover{
  background-image: url("https://raw.githubusercontent.com/cwlworld/vbox.github.io/ac075fd57abab369aaa4d0105571b815b0ab66fc/img/behance_w.svg");
}

.link_w {
  display: inline-block;
  margin-right: 50px;
  float: left;
}

p.mail {
   font-size: 30px;
   text-decoration: none;
   text-align: center;
}

.mail a {
  text-decoration: none;
}

.mail a:hover {
  color: #e406a1;
}

.bg-1 {
  background-image: url("https://images.unsplash.com/photo-1627844569434-d09367e18f8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80");
}
.bg-1-1 {
  background-image: url("https://images.unsplash.com/photo-1627810636844-f28a4caa1645?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
}

.bg-2-1 {
  background-image: url("https://images.unsplash.com/photo-1502462456379-a6dbfdd0faef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80");
}
.bg-3 {
  background-image: url("https://images.unsplash.com/photo-1455165814004-1126a7199f9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}
.bg-3-1 {
  background-image: url("https://images.unsplash.com/photo-1627771229100-36ade89f749f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80");
}
.bg-4 {
  background-image: url("https://images.unsplash.com/photo-1533122250115-6bb28e9a48c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80");
}

.bg1 {
  background: black;
  color:white;
}

.close{
  display: none;
}

.btn_switch {
width: 120px;
margin: 0 auto;
padding-bottom: 30px;
}

.switch_en {
  display: block;
  float: left;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;

}

.switch_ch {
  display: block;
  float: left;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: gray;
  color: black;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;

}
